body {
        background-image: url(backgroundImm.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: block;
}

h1 {
        font-family: cursive;
        text-align: center;
        font-size: 9em;
        text-shadow: 5px 5px 35px darkblue, 5px 5px 30px darkblue, 5px 5px 35px blue;
        font-family: cursive;
        color: lightslategrey;
}
p{
        font-size: 1.2em;
        text-shadow: 5px 5px 35px darkblue, 5px 5px 30px darkblue, 5px 5px 35px blue;
}

ul {
        text-align: center;
        list-style: none;
        display: table-cell;
vertical-align: middle;
height: 100px;
width: 100px
display: inline-block;
height: 3em;
font-size: 1.2em;
}

h2 {

        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px blue;
}

.list2{
        display: table-cell;
        float: left;
vertical-align: middle;
height: 100px;
width: 100px
display: inline-block;
height: 3em;
font-size: 1.2em;
}

li {
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px crimson, 0 0 5px blue;
        font-size: 1.2em;
        list-style: none;

}
h3 {
        text-shadow: 1px 1px 2px black, 0 0 25px crimson, 0 0 5px blue;
}
